# Payload CMS
PAYLOAD_SECRET=<tu_clave_secreta>

# MongoDB
MONGODB_URI=mongodb://localhost:27017/aguirre-server

# AWS S3
AWS_ACCESS_KEY_ID=<tu_access_key>
AWS_SECRET_ACCESS_KEY=<tu_secret_key>
AWS_REGION=us-east-2
S3_BUCKET=<nombre_bucket>
S3_PREFIX_IMAGENES=storage-blog/
S3_PREFIX_DOCUMENTOS=storage-recursos/

# Server
NODE_ENV=development
PORT=3000
